datafloweast/PartialArmTemplates/ArmTemplate_1_29_2019_15_7_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "datafloweast"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BaseballPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Baseball 1 Norm Batting Stats",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Baseball 1 Norm Batting Stats",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Baseball"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Baseball 1 Norm Batting Stats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BaseballPipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Baseball 1 Norm Batting Stats",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Baseball 1 Norm Batting Stats",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "adb5_jan_eastus",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Demos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Baseball 1 Norm Batting Stats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Controller Daily Analytics Loader')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Incremental Data Lake Loading",
						"type": "ExecutePipeline",
						"typeProperties": {
							"pipeline": {
								"referenceName": "My Incremental Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Daily Sales Summaries and Cals",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Incremental Data Lake Loading",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Currency Converter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Load Data Stores",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Daily Sales Summaries and Cals",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ETL Final Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"issuccess": "1"
							}
						}
					}
				],
				"folder": {
					"name": "PipelineController"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/My Incremental Pipeline')]",
				"[concat(variables('factoryId'), '/pipelines/Currency Converter')]",
				"[concat(variables('factoryId'), '/pipelines/ETL Final Stage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_cce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_cce",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mycontainer/SampleData/customers.json"
							},
							{
								"name": "Destination",
								"value": "mycontainer/output/json/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_cce",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_cce",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Copy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_cce')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_cce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Currency Converter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Convert Currencies",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Currency Converter",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "MyDataBricksLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					}
				],
				"folder": {
					"name": "Demos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Currency Converter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL Final Stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Dsitribute Data",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": false,
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "movie_dataflow_source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlDWTable2",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Refresh Cubes",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Dsitribute Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "http://www.yahoo.com",
							"method": "GET"
						}
					},
					{
						"name": "Send Email Notices",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Dsitribute Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "http://www.yahoo.com",
							"method": "GET"
						}
					}
				],
				"parameters": {
					"issuccess": {
						"type": "Int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "PipelineController"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/movie_dataflow_source')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlDWTable2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MovieDemoPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "ExecuteMovieDemoDataFlow",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "MovieDemo",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "MyDataBricksLinkedService",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Demos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MovieDemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/My Incremental Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Lookup_LastVersion",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"dataset": {
								"referenceName": "AzureSQLIncremental_Changes",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Lookup_CurrentVersion",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion"
							},
							"dataset": {
								"referenceName": "AzureSqlIncremental_Data",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Incrememental Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup_LastVersion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_CurrentVersion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select data_source_table.PersonID,data_source_table.Name,data_source_table.Age, CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from data_source_table RIGHT OUTER JOIN CHANGETABLE(CHANGES data_source_table, @{activity('Lookup_LastVersion').output.firstRow.SYS_CHANGE_VERSION}) as CT on data_source_table.PersonID = CT.PersonID where CT.SYS_CHANGE_VERSION <= @{activity('Lookup_CurrentVersion').output.firstRow.CurrentChangeTrackingVersion}",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureSqlIncremental_Data",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "BlobStoreIncremental",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update Change Tracking",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Incrememental Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[Update_ChangeTracking_Version]')]",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('Lookup_CurrentVersion').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('Lookup_LastVersion').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Incremental"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSQLIncremental_Changes')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlIncremental_Data')]",
				"[concat(variables('factoryId'), '/datasets/BlobStoreIncremental')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipe With Vars')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Set Variable1",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "myarray",
							"value": [
								"abc"
							]
						}
					},
					{
						"name": "Append Variable1",
						"type": "AppendVariable",
						"typeProperties": {
							"variableName": "myarray",
							"value": "abc"
						}
					}
				],
				"variables": {
					"myarray": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "PipelineController"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCD Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "SCDType2",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "SCDType2",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Demos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SCDType2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schema Drift Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "SchemaDrift",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "SchemaDrift",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							}
						}
					}
				],
				"folder": {
					"name": "Drifts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SchemaDrift')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SoccerETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "soccerETL",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Baseball 1 Basic Stats",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Demos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Baseball 1 Basic Stats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "TaxiDemoDataflow",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "TaxiDemo",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainter/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Demos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TaxiDemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/invokedPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyBlobtoBlob",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureBlob1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CADOutput",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"sourceBlobContainer": {
						"type": "String"
					},
					"sinkBlobContainer": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PipelineController"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlob1')]",
				"[concat(variables('factoryId'), '/datasets/CADOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "MyExecutePipelineActivity",
						"type": "ExecutePipeline",
						"typeProperties": {
							"pipeline": {
								"referenceName": "invokedPipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceBlobContainer": {
									"value": "@pipeline().parameters.masterSourceBlobContainer",
									"type": "Expression"
								},
								"sinkBlobCountainer": {
									"value": "@pipeline().parameters.masterSinkBlobContainer",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"masterSourceBlobContainer": {
						"type": "String"
					},
					"masterSinkBlobContainer": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PipelineController"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/invokedPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "SCDType2",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Misc"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SCDType2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Baseball 2 Adv Stats",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Baseball 2 Adv Stats",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "MyAzureBlobLinkedService",
									"type": "LinkedServiceReference"
								},
								"folderPath": "mycontainer/staging"
							}
						}
					}
				],
				"folder": {
					"name": "Misc"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Baseball 2 Adv Stats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Currency Converter",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "Currency Converter",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "JAN2019EAST",
								"type": "LinkedServiceReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							}
						}
					}
				],
				"folder": {
					"name": "Misc"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Currency Converter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "dummypipe",
						"type": "Wait",
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "Misc"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Data Flow",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "TaxiDemoLarge",
								"type": "DataFlowReference"
							},
							"linkedService": {
								"referenceName": "adbls002",
								"type": "LinkedServiceReference"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TaxiDemoLarge')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADW_DimProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ETL"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "ProductKey",
						"type": "Int32"
					},
					{
						"name": "ProductAlternateKey",
						"type": "String"
					},
					{
						"name": "ProductSubcategoryKey",
						"type": "Int32"
					},
					{
						"name": "WeightUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "SizeUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "EnglishProductName",
						"type": "String"
					},
					{
						"name": "SpanishProductName",
						"type": "String"
					},
					{
						"name": "FrenchProductName",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "Decimal"
					},
					{
						"name": "FinishedGoodsFlag",
						"type": "Boolean"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "SafetyStockLevel",
						"type": "Int16"
					},
					{
						"name": "ReorderPoint",
						"type": "Int16"
					},
					{
						"name": "ListPrice",
						"type": "Decimal"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "SizeRange",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "Double"
					},
					{
						"name": "DaysToManufacture",
						"type": "Int32"
					},
					{
						"name": "ProductLine",
						"type": "String"
					},
					{
						"name": "DealerPrice",
						"type": "Decimal"
					},
					{
						"name": "Class",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "ModelName",
						"type": "String"
					},
					{
						"name": "EnglishDescription",
						"type": "String"
					},
					{
						"name": "FrenchDescription",
						"type": "String"
					},
					{
						"name": "ChineseDescription",
						"type": "String"
					},
					{
						"name": "ArabicDescription",
						"type": "String"
					},
					{
						"name": "HebrewDescription",
						"type": "String"
					},
					{
						"name": "ThaiDescription",
						"type": "String"
					},
					{
						"name": "GermanDescription",
						"type": "String"
					},
					{
						"name": "JapaneseDescription",
						"type": "String"
					},
					{
						"name": "TurkishDescription",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "DateTime"
					},
					{
						"name": "EndDate",
						"type": "DateTime"
					},
					{
						"name": "Status",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "DimProduct"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADW_FactSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ETL"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "OrderTotal",
						"type": "Decimal"
					},
					{
						"name": "RevisionNumber",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "DateTime"
					},
					{
						"name": "DueDate",
						"type": "DateTime"
					},
					{
						"name": "ShipDate",
						"type": "DateTime"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "OnlineOrderFlag",
						"type": "Boolean"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "PurchaseOrderNumber",
						"type": "String"
					},
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "Int32"
					},
					{
						"name": "ShipToAddressID",
						"type": "Int32"
					},
					{
						"name": "BillToAddressID",
						"type": "Int32"
					},
					{
						"name": "ShipMethod",
						"type": "String"
					},
					{
						"name": "CreditCardApprovalCode",
						"type": "String"
					},
					{
						"name": "SubTotal",
						"type": "Decimal"
					},
					{
						"name": "TaxAmt",
						"type": "Decimal"
					},
					{
						"name": "Freight",
						"type": "Decimal"
					},
					{
						"name": "TotalDue",
						"type": "Decimal"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "FactSales_makromer"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/A_G')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/A_G"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Addresses_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "AddressID",
						"type": "String"
					},
					{
						"name": "Address1",
						"type": "String"
					},
					{
						"name": "Address2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "Address.csv",
					"folderPath": "mycontainer/SampleData/AW"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "SalesOrderDetail.csv",
					"folderPath": "mycontainer/SampleData/AW"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "movies*.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobBaseballOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/baseball"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLIncremental_Changes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Incremental"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "TableName",
						"type": "String"
					},
					{
						"name": "SYS_CHANGE_VERSION",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[table_store_ChangeTracking_version]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDWTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureSqlDWTable",
				"typeProperties": {
					"tableName": "templatedemodata"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDWTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureSqlDWTable",
				"typeProperties": {
					"tableName": "batting"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDWTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "digit",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Cardinals]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDWTable4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "yearID",
						"type": "Int32"
					},
					{
						"name": "BA",
						"type": "Double"
					},
					{
						"name": "OBP",
						"type": "Double"
					},
					{
						"name": "SLG",
						"type": "Double"
					},
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "birthYear",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "birthCountry",
						"type": "String"
					},
					{
						"name": "birthState",
						"type": "String"
					},
					{
						"name": "birthCity",
						"type": "String"
					},
					{
						"name": "deathYear",
						"type": "String"
					},
					{
						"name": "deathMonth",
						"type": "String"
					},
					{
						"name": "deathDay",
						"type": "String"
					},
					{
						"name": "deathCountry",
						"type": "String"
					},
					{
						"name": "deathState",
						"type": "String"
					},
					{
						"name": "deathCity",
						"type": "String"
					},
					{
						"name": "nameFirst",
						"type": "String"
					},
					{
						"name": "nameLast",
						"type": "String"
					},
					{
						"name": "nameGiven",
						"type": "String"
					},
					{
						"name": "weight",
						"type": "String"
					},
					{
						"name": "height",
						"type": "String"
					},
					{
						"name": "bats",
						"type": "String"
					},
					{
						"name": "throws",
						"type": "String"
					},
					{
						"name": "debut",
						"type": "String"
					},
					{
						"name": "finalGame",
						"type": "String"
					},
					{
						"name": "retroID",
						"type": "String"
					},
					{
						"name": "bbrefID",
						"type": "String"
					},
					{
						"name": "stint",
						"type": "String"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "Int32"
					},
					{
						"name": "AB",
						"type": "Int32"
					},
					{
						"name": "R",
						"type": "Int32"
					},
					{
						"name": "H",
						"type": "Int32"
					},
					{
						"name": "H2B",
						"type": "Int32"
					},
					{
						"name": "H3B",
						"type": "Int32"
					},
					{
						"name": "HR",
						"type": "Int32"
					},
					{
						"name": "RBI",
						"type": "Int32"
					},
					{
						"name": "SB",
						"type": "Int32"
					},
					{
						"name": "CS",
						"type": "Int32"
					},
					{
						"name": "BB",
						"type": "Int32"
					},
					{
						"name": "SO",
						"type": "Int32"
					},
					{
						"name": "IBB",
						"type": "Int32"
					},
					{
						"name": "HBP",
						"type": "Int32"
					},
					{
						"name": "SH",
						"type": "Int32"
					},
					{
						"name": "SF",
						"type": "Int32"
					},
					{
						"name": "GIDP",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "BattingAvgTable"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlIncremental_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Incremental"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "PersonID",
						"type": "Int32"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Age",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[data_source_table]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureSqlTable"
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "movieId",
						"type": "Int32"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "junk",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Movies2]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "YEAR",
						"type": "Int16"
					},
					{
						"name": "MONTH",
						"type": "Int16"
					},
					{
						"name": "FL_DATE",
						"type": "DateTime"
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "String"
					},
					{
						"name": "AIRLINE_ID",
						"type": "Int32"
					},
					{
						"name": "CARRIER",
						"type": "String"
					},
					{
						"name": "TAIL_NUM",
						"type": "String"
					},
					{
						"name": "FL_NUM",
						"type": "Int32"
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "Int32"
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "Int32"
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "Int32"
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "Int32"
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "Int32"
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "Int32"
					},
					{
						"name": "DEP_TIME",
						"type": "String"
					},
					{
						"name": "DEP_DELAY",
						"type": "Double"
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "Double"
					},
					{
						"name": "TAXI_OUT",
						"type": "Double"
					},
					{
						"name": "WHEELS_OFF",
						"type": "String"
					},
					{
						"name": "WHEELS_ON",
						"type": "String"
					},
					{
						"name": "TAXI_IN",
						"type": "Double"
					},
					{
						"name": "ARR_TIME",
						"type": "String"
					},
					{
						"name": "ARR_DELAY",
						"type": "Double"
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "Double"
					},
					{
						"name": "CANCELLED",
						"type": "Boolean"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "String"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "Double"
					},
					{
						"name": "AIR_TIME",
						"type": "Double"
					},
					{
						"name": "FLIGHTS",
						"type": "Int32"
					},
					{
						"name": "DISTANCE",
						"type": "Int32"
					},
					{
						"name": "CARRIER_DELAY",
						"type": "Double"
					},
					{
						"name": "WEATHER_DELAY",
						"type": "Double"
					},
					{
						"name": "NAS_DELAY",
						"type": "Double"
					},
					{
						"name": "SECURITY_DELAY",
						"type": "Double"
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "Double"
					},
					{
						"name": "DEST_CODE",
						"type": "String"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Flight]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/BaseballADW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlDWTable",
				"typeProperties": {
					"tableName": "BaseballBatting"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/BaseballBatting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "yearID",
						"type": "String"
					},
					{
						"name": "stint",
						"type": "String"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "String"
					},
					{
						"name": "AB",
						"type": "String"
					},
					{
						"name": "R",
						"type": "String"
					},
					{
						"name": "H",
						"type": "String"
					},
					{
						"name": "H2B",
						"type": "String"
					},
					{
						"name": "H3B",
						"type": "String"
					},
					{
						"name": "HR",
						"type": "String"
					},
					{
						"name": "RBI",
						"type": "String"
					},
					{
						"name": "SB",
						"type": "String"
					},
					{
						"name": "CS",
						"type": "String"
					},
					{
						"name": "BB",
						"type": "String"
					},
					{
						"name": "SO",
						"type": "String"
					},
					{
						"name": "IBB",
						"type": "String"
					},
					{
						"name": "HBP",
						"type": "String"
					},
					{
						"name": "SH",
						"type": "String"
					},
					{
						"name": "SF",
						"type": "String"
					},
					{
						"name": "GIDP",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "Batting.csv",
					"folderPath": "mycontainer/SampleData/baseball"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/BattingAvg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "yearID",
						"type": "Int32"
					},
					{
						"name": "BA",
						"type": "Double"
					},
					{
						"name": "OBP",
						"type": "Double"
					},
					{
						"name": "SLG",
						"type": "Double"
					},
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "birthYear",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "birthCountry",
						"type": "String"
					},
					{
						"name": "birthState",
						"type": "String"
					},
					{
						"name": "birthCity",
						"type": "String"
					},
					{
						"name": "deathYear",
						"type": "String"
					},
					{
						"name": "deathMonth",
						"type": "String"
					},
					{
						"name": "deathDay",
						"type": "String"
					},
					{
						"name": "deathCountry",
						"type": "String"
					},
					{
						"name": "deathState",
						"type": "String"
					},
					{
						"name": "deathCity",
						"type": "String"
					},
					{
						"name": "nameFirst",
						"type": "String"
					},
					{
						"name": "nameLast",
						"type": "String"
					},
					{
						"name": "nameGiven",
						"type": "String"
					},
					{
						"name": "weight",
						"type": "String"
					},
					{
						"name": "height",
						"type": "String"
					},
					{
						"name": "bats",
						"type": "String"
					},
					{
						"name": "throws",
						"type": "String"
					},
					{
						"name": "debut",
						"type": "String"
					},
					{
						"name": "finalGame",
						"type": "String"
					},
					{
						"name": "retroID",
						"type": "String"
					},
					{
						"name": "bbrefID",
						"type": "String"
					},
					{
						"name": "stint",
						"type": "String"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "Int32"
					},
					{
						"name": "AB",
						"type": "Int32"
					},
					{
						"name": "R",
						"type": "Int32"
					},
					{
						"name": "H",
						"type": "Int32"
					},
					{
						"name": "H2B",
						"type": "Int32"
					},
					{
						"name": "H3B",
						"type": "Int32"
					},
					{
						"name": "HR",
						"type": "Int32"
					},
					{
						"name": "RBI",
						"type": "Int32"
					},
					{
						"name": "SB",
						"type": "Int32"
					},
					{
						"name": "CS",
						"type": "Int32"
					},
					{
						"name": "BB",
						"type": "Int32"
					},
					{
						"name": "SO",
						"type": "Int32"
					},
					{
						"name": "IBB",
						"type": "Int32"
					},
					{
						"name": "HBP",
						"type": "Int32"
					},
					{
						"name": "SH",
						"type": "Int32"
					},
					{
						"name": "SF",
						"type": "Int32"
					},
					{
						"name": "GIDP",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "BattingAvgTable"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/BattingSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/baseball"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStoreIncremental')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Incremental"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@CONCAT('Incremental-', pipeline().RunId, '.txt') ",
						"type": "Expression"
					},
					"folderPath": "mycontainer/incremental"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CADOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/currency"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CurrencyDatasetCAD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "PreviousConversionRate",
						"type": "Double"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "DateTime1",
						"type": "DateTime"
					},
					{
						"name": "CurrentConversionRate",
						"type": "Double"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"nullValue": "",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "Currency_GBP.txt",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CurrencyDatasetUSD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "PreviousConversionRate",
						"type": "Double"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "DateTime1",
						"type": "DateTime"
					},
					{
						"name": "CurrentConversionRate",
						"type": "Double"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "Currency_USD.txt",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWSabermetrics')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlDWTable",
				"typeProperties": {
					"tableName": "Sabermetrics"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DemoSinkDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_cce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/json"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_d2r')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "ParquetFormat"
					},
					"fileName": "myout.parquet",
					"folderPath": "mycontainer/output/parquet"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_hii')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "_committed_2034928433163805213",
					"folderPath": "mycontainer/output/sample"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimProd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "ProductKey",
						"type": "Int32"
					},
					{
						"name": "ProductAlternateKey",
						"type": "String"
					},
					{
						"name": "ProductSubcategoryKey",
						"type": "Int32"
					},
					{
						"name": "WeightUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "SizeUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "EnglishProductName",
						"type": "String"
					},
					{
						"name": "SpanishProductName",
						"type": "String"
					},
					{
						"name": "FrenchProductName",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "Decimal"
					},
					{
						"name": "FinishedGoodsFlag",
						"type": "Boolean"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "SafetyStockLevel",
						"type": "Int16"
					},
					{
						"name": "ReorderPoint",
						"type": "Int16"
					},
					{
						"name": "ListPrice",
						"type": "Decimal"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "SizeRange",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "Double"
					},
					{
						"name": "DaysToManufacture",
						"type": "Int32"
					},
					{
						"name": "ProductLine",
						"type": "String"
					},
					{
						"name": "DealerPrice",
						"type": "Decimal"
					},
					{
						"name": "Class",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "ModelName",
						"type": "String"
					},
					{
						"name": "EnglishDescription",
						"type": "String"
					},
					{
						"name": "FrenchDescription",
						"type": "String"
					},
					{
						"name": "ChineseDescription",
						"type": "String"
					},
					{
						"name": "ArabicDescription",
						"type": "String"
					},
					{
						"name": "HebrewDescription",
						"type": "String"
					},
					{
						"name": "ThaiDescription",
						"type": "String"
					},
					{
						"name": "GermanDescription",
						"type": "String"
					},
					{
						"name": "JapaneseDescription",
						"type": "String"
					},
					{
						"name": "TurkishDescription",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "DateTime"
					},
					{
						"name": "EndDate",
						"type": "DateTime"
					},
					{
						"name": "Status",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "DimProduct"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/H_P')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/H_P"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoviesDBDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "movie",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "Rating",
						"type": "String"
					},
					{
						"name": "Rotton Tomato",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "moviesDB.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/NormBattingStats')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "yearID",
						"type": "Int32"
					},
					{
						"name": "BA",
						"type": "Double"
					},
					{
						"name": "OBP",
						"type": "Double"
					},
					{
						"name": "SLG",
						"type": "Double"
					},
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "birthYear",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "birthCountry",
						"type": "String"
					},
					{
						"name": "birthState",
						"type": "String"
					},
					{
						"name": "birthCity",
						"type": "String"
					},
					{
						"name": "deathYear",
						"type": "String"
					},
					{
						"name": "deathMonth",
						"type": "String"
					},
					{
						"name": "deathDay",
						"type": "String"
					},
					{
						"name": "deathCountry",
						"type": "String"
					},
					{
						"name": "deathState",
						"type": "String"
					},
					{
						"name": "deathCity",
						"type": "String"
					},
					{
						"name": "nameFirst",
						"type": "String"
					},
					{
						"name": "nameLast",
						"type": "String"
					},
					{
						"name": "nameGiven",
						"type": "String"
					},
					{
						"name": "weight",
						"type": "String"
					},
					{
						"name": "height",
						"type": "String"
					},
					{
						"name": "bats",
						"type": "String"
					},
					{
						"name": "throws",
						"type": "String"
					},
					{
						"name": "debut",
						"type": "String"
					},
					{
						"name": "finalGame",
						"type": "String"
					},
					{
						"name": "retroID",
						"type": "String"
					},
					{
						"name": "bbrefID",
						"type": "String"
					},
					{
						"name": "stint",
						"type": "String"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "Int32"
					},
					{
						"name": "AB",
						"type": "Int32"
					},
					{
						"name": "R",
						"type": "Int32"
					},
					{
						"name": "H",
						"type": "Int32"
					},
					{
						"name": "H2B",
						"type": "Int32"
					},
					{
						"name": "H3B",
						"type": "Int32"
					},
					{
						"name": "HR",
						"type": "Int32"
					},
					{
						"name": "RBI",
						"type": "Int32"
					},
					{
						"name": "SB",
						"type": "Int32"
					},
					{
						"name": "CS",
						"type": "Int32"
					},
					{
						"name": "BB",
						"type": "Int32"
					},
					{
						"name": "SO",
						"type": "Int32"
					},
					{
						"name": "IBB",
						"type": "Int32"
					},
					{
						"name": "HBP",
						"type": "Int32"
					},
					{
						"name": "SH",
						"type": "Int32"
					},
					{
						"name": "SF",
						"type": "Int32"
					},
					{
						"name": "GIDP",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "NormBattingStats"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/PlayersBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BaseballLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "birthYear",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "birthCountry",
						"type": "String"
					},
					{
						"name": "birthState",
						"type": "String"
					},
					{
						"name": "birthCity",
						"type": "String"
					},
					{
						"name": "deathYear",
						"type": "String"
					},
					{
						"name": "deathMonth",
						"type": "String"
					},
					{
						"name": "deathDay",
						"type": "String"
					},
					{
						"name": "deathCountry",
						"type": "String"
					},
					{
						"name": "deathState",
						"type": "String"
					},
					{
						"name": "deathCity",
						"type": "String"
					},
					{
						"name": "nameFirst",
						"type": "String"
					},
					{
						"name": "nameLast",
						"type": "String"
					},
					{
						"name": "nameGiven",
						"type": "String"
					},
					{
						"name": "weight",
						"type": "String"
					},
					{
						"name": "height",
						"type": "String"
					},
					{
						"name": "bats",
						"type": "String"
					},
					{
						"name": "throws",
						"type": "String"
					},
					{
						"name": "debut",
						"type": "String"
					},
					{
						"name": "finalGame",
						"type": "String"
					},
					{
						"name": "retroID",
						"type": "String"
					},
					{
						"name": "bbrefID",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "\n",
						"nullValue": "",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "People.csv",
					"folderPath": "mycontainer/SampleData/baseball"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ProductNumber",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "Decimal"
					},
					{
						"name": "ListPrice",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "String"
					},
					{
						"name": "ProductCategoryID",
						"type": "String"
					},
					{
						"name": "ProductModelID",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "Product2.csv",
					"folderPath": "mycontainer/SampleData/AW"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Q_Z')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/Q_Z"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDBBaseball1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "batting1"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDBBaseball2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "BA",
						"type": "Double"
					},
					{
						"name": "OBP",
						"type": "Double"
					},
					{
						"name": "SLG",
						"type": "Double"
					},
					{
						"name": "TB",
						"type": "Int32"
					},
					{
						"name": "birthYear",
						"type": "String"
					},
					{
						"name": "birthMonth",
						"type": "String"
					},
					{
						"name": "birthDay",
						"type": "String"
					},
					{
						"name": "birthCountry",
						"type": "String"
					},
					{
						"name": "birthState",
						"type": "String"
					},
					{
						"name": "birthCity",
						"type": "String"
					},
					{
						"name": "deathYear",
						"type": "String"
					},
					{
						"name": "deathMonth",
						"type": "String"
					},
					{
						"name": "deathDay",
						"type": "String"
					},
					{
						"name": "deathCountry",
						"type": "String"
					},
					{
						"name": "deathState",
						"type": "String"
					},
					{
						"name": "deathCity",
						"type": "String"
					},
					{
						"name": "nameFirst",
						"type": "String"
					},
					{
						"name": "nameLast",
						"type": "String"
					},
					{
						"name": "nameGiven",
						"type": "String"
					},
					{
						"name": "weight",
						"type": "String"
					},
					{
						"name": "height",
						"type": "String"
					},
					{
						"name": "bats",
						"type": "String"
					},
					{
						"name": "throws",
						"type": "String"
					},
					{
						"name": "debut",
						"type": "String"
					},
					{
						"name": "finalGame",
						"type": "String"
					},
					{
						"name": "retroID",
						"type": "String"
					},
					{
						"name": "bbrefID",
						"type": "String"
					},
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "yearID",
						"type": "String"
					},
					{
						"name": "stint",
						"type": "String"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "Int32"
					},
					{
						"name": "AB",
						"type": "Int32"
					},
					{
						"name": "R",
						"type": "Int32"
					},
					{
						"name": "H",
						"type": "Int32"
					},
					{
						"name": "H2B",
						"type": "Int32"
					},
					{
						"name": "H3B",
						"type": "Int32"
					},
					{
						"name": "HR",
						"type": "Int32"
					},
					{
						"name": "RBI",
						"type": "Int32"
					},
					{
						"name": "SB",
						"type": "Int32"
					},
					{
						"name": "CS",
						"type": "Int32"
					},
					{
						"name": "BB",
						"type": "Int32"
					},
					{
						"name": "SO",
						"type": "Int32"
					},
					{
						"name": "IBB",
						"type": "Int32"
					},
					{
						"name": "HBP",
						"type": "Int32"
					},
					{
						"name": "SH",
						"type": "Int32"
					},
					{
						"name": "SF",
						"type": "Int32"
					},
					{
						"name": "GIDP",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "batting1"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_ProdCat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ETL"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "ProductCategoryID",
						"type": "Int32"
					},
					{
						"name": "ParentProductCategoryID",
						"type": "Int32"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "Guid"
					},
					{
						"name": "ModifiedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'SalesLT].[ProductCategory]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_Products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ETL"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "ProductID",
						"type": "Int32"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ProductNumber",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "Decimal"
					},
					{
						"name": "ListPrice",
						"type": "Decimal"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "Decimal"
					},
					{
						"name": "ProductCategoryID",
						"type": "Int32"
					},
					{
						"name": "ProductModelID",
						"type": "Int32"
					},
					{
						"name": "SellStartDate",
						"type": "DateTime"
					},
					{
						"name": "SellEndDate",
						"type": "DateTime"
					},
					{
						"name": "DiscontinuedDate",
						"type": "DateTime"
					},
					{
						"name": "ThumbNailPhoto",
						"type": "Byte[]"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "Guid"
					},
					{
						"name": "ModifiedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'SalesLT].[Product]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_SalesDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ETL"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "SalesOrderID",
						"type": "Int32"
					},
					{
						"name": "SalesOrderDetailID",
						"type": "Int32"
					},
					{
						"name": "OrderQty",
						"type": "Int16"
					},
					{
						"name": "ProductID",
						"type": "Int32"
					},
					{
						"name": "UnitPrice",
						"type": "Decimal"
					},
					{
						"name": "UnitPriceDiscount",
						"type": "Decimal"
					},
					{
						"name": "LineTotal",
						"type": "Decimal"
					},
					{
						"name": "rowguid",
						"type": "Guid"
					},
					{
						"name": "ModifiedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'SalesLT].[SalesOrderDetail]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_SalesHeader')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ETL"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "SalesOrderID",
						"type": "Int32"
					},
					{
						"name": "RevisionNumber",
						"type": "Byte"
					},
					{
						"name": "OrderDate",
						"type": "DateTime"
					},
					{
						"name": "DueDate",
						"type": "DateTime"
					},
					{
						"name": "ShipDate",
						"type": "DateTime"
					},
					{
						"name": "Status",
						"type": "Byte"
					},
					{
						"name": "OnlineOrderFlag",
						"type": "Boolean"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "PurchaseOrderNumber",
						"type": "String"
					},
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "Int32"
					},
					{
						"name": "ShipToAddressID",
						"type": "Int32"
					},
					{
						"name": "BillToAddressID",
						"type": "Int32"
					},
					{
						"name": "ShipMethod",
						"type": "String"
					},
					{
						"name": "CreditCardApprovalCode",
						"type": "String"
					},
					{
						"name": "SubTotal",
						"type": "Decimal"
					},
					{
						"name": "TaxAmt",
						"type": "Decimal"
					},
					{
						"name": "Freight",
						"type": "Decimal"
					},
					{
						"name": "TotalDue",
						"type": "Decimal"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "Guid"
					},
					{
						"name": "ModifiedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'SalesLT].[SalesOrderHeader]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "ProductID",
						"type": "Int32"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ProductNumber",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "Decimal"
					},
					{
						"name": "ListPrice",
						"type": "Decimal"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "salesprod"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_cce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "customerID",
						"type": "String"
					},
					{
						"name": "companyName",
						"type": "String"
					},
					{
						"name": "contactName",
						"type": "String"
					},
					{
						"name": "contactTitle",
						"type": "String"
					},
					{
						"name": "address.street",
						"type": "String"
					},
					{
						"name": "address.city",
						"type": "String"
					},
					{
						"name": "address.region",
						"type": "String"
					},
					{
						"name": "address.postalCode",
						"type": "String"
					},
					{
						"name": "address.country",
						"type": "String"
					},
					{
						"name": "address.phone",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"customerID": "$.['customerID']",
							"companyName": "$.['companyName']",
							"contactName": "$.['contactName']",
							"contactTitle": "$.['contactTitle']",
							"address.street": "$.['address']['street']",
							"address.city": "$.['address']['city']",
							"address.region": "$.['address']['region']",
							"address.postalCode": "$.['address']['postalCode']",
							"address.country": "$.['address']['country']",
							"address.phone": "$.['address']['phone']"
						}
					},
					"fileName": "customers.json",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_d2r')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "yearID",
						"type": "Int64"
					},
					{
						"name": "stint",
						"type": "Int64"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "Int64"
					},
					{
						"name": "AB",
						"type": "Int64"
					},
					{
						"name": "R",
						"type": "Int64"
					},
					{
						"name": "H",
						"type": "Int64"
					},
					{
						"name": "H2B",
						"type": "Int64"
					},
					{
						"name": "H3B",
						"type": "Int64"
					},
					{
						"name": "HR",
						"type": "Int64"
					},
					{
						"name": "RBI",
						"type": "Int64"
					},
					{
						"name": "SB",
						"type": "Int64"
					},
					{
						"name": "CS",
						"type": "Int64"
					},
					{
						"name": "BB",
						"type": "Int64"
					},
					{
						"name": "SO",
						"type": "Int64"
					},
					{
						"name": "IBB",
						"type": "String"
					},
					{
						"name": "HBP",
						"type": "String"
					},
					{
						"name": "SH",
						"type": "String"
					},
					{
						"name": "SF",
						"type": "String"
					},
					{
						"name": "GIDP",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "Batting.csv",
					"folderPath": "mycontainer/SampleData/baseball"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_hii')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "playerID",
						"type": "String"
					},
					{
						"name": "yearID",
						"type": "Int64"
					},
					{
						"name": "stint",
						"type": "Int64"
					},
					{
						"name": "teamID",
						"type": "String"
					},
					{
						"name": "lgID",
						"type": "String"
					},
					{
						"name": "G",
						"type": "Int64"
					},
					{
						"name": "AB",
						"type": "Int64"
					},
					{
						"name": "R",
						"type": "Int64"
					},
					{
						"name": "H",
						"type": "Int64"
					},
					{
						"name": "H2B",
						"type": "Int64"
					},
					{
						"name": "H3B",
						"type": "Int64"
					},
					{
						"name": "HR",
						"type": "Int64"
					},
					{
						"name": "RBI",
						"type": "Int64"
					},
					{
						"name": "SB",
						"type": "Int64"
					},
					{
						"name": "CS",
						"type": "Int64"
					},
					{
						"name": "BB",
						"type": "Int64"
					},
					{
						"name": "SO",
						"type": "Int64"
					},
					{
						"name": "IBB",
						"type": "String"
					},
					{
						"name": "HBP",
						"type": "String"
					},
					{
						"name": "SH",
						"type": "String"
					},
					{
						"name": "SF",
						"type": "String"
					},
					{
						"name": "GIDP",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "Batting.csv",
					"folderPath": "mycontainer/SampleData/baseball"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDemoDayStatsSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": "mycontainer/output/taxipaymentout"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDemoTotalByPaymentType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/taxipaymentout"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDemoVendorStatsSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/vendorout"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/USDOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/currency"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/airlines')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Code",
						"type": "Int32"
					},
					{
						"name": "Airline_Code",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Airline]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/airports')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "City_Airport",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Airport]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_params')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Params"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "params-red.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/delays')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "carrier",
						"type": "String"
					},
					{
						"name": "year",
						"type": "Int32"
					},
					{
						"name": "delays",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[delays]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/driftout')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Drifts"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/SchemaDriftOut"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonblob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "loc",
						"type": "String"
					},
					{
						"name": "pop",
						"type": "Int64"
					},
					{
						"name": "state",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"fileName": "zips.json",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/locationMap')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Soccer"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "locationMap.csv",
					"folderPath": "mycontainer/SampleData/Soccer"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/movie_dataflow_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BaseballLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/movie_dataflow_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "movieId",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "movies.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/movies2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "movieId",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "movies.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/newbattingtable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Baseball"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "batting1"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/others')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "mycontainer/output/others"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/salesdrift')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Drifts"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": "mycontainer/SampleData/SchemaDrift"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/soccer_events')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Soccer"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "id_odsp",
						"type": "String"
					},
					{
						"name": "id_event",
						"type": "String"
					},
					{
						"name": "sort_order",
						"type": "Int32"
					},
					{
						"name": "time",
						"type": "String"
					},
					{
						"name": "text",
						"type": "String"
					},
					{
						"name": "event_type",
						"type": "String"
					},
					{
						"name": "event_type2",
						"type": "String"
					},
					{
						"name": "side",
						"type": "String"
					},
					{
						"name": "event_team",
						"type": "String"
					},
					{
						"name": "opponent",
						"type": "String"
					},
					{
						"name": "player",
						"type": "String"
					},
					{
						"name": "player2",
						"type": "String"
					},
					{
						"name": "player_in",
						"type": "String"
					},
					{
						"name": "player_out",
						"type": "String"
					},
					{
						"name": "shot_place",
						"type": "String"
					},
					{
						"name": "shot_outcome",
						"type": "String"
					},
					{
						"name": "is_goal",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "bodypart",
						"type": "String"
					},
					{
						"name": "assist_method",
						"type": "String"
					},
					{
						"name": "situation",
						"type": "String"
					},
					{
						"name": "fast_break",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "events.csv",
					"folderPath": "mycontainer/SampleData/Soccer"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/taxi_trip_data_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "medallion",
						"type": "String"
					},
					{
						"name": "hack_license",
						"type": "String"
					},
					{
						"name": "vendor_id",
						"type": "String"
					},
					{
						"name": "rate_code",
						"type": "String"
					},
					{
						"name": "store_and_fwd_flag",
						"type": "String"
					},
					{
						"name": "pickup_datetime",
						"type": "String"
					},
					{
						"name": "dropoff_datetime",
						"type": "String"
					},
					{
						"name": "passenger_count",
						"type": "String"
					},
					{
						"name": "trip_time_in_secs",
						"type": "String"
					},
					{
						"name": "trip_distance",
						"type": "String"
					},
					{
						"name": "pickup_longitude",
						"type": "String"
					},
					{
						"name": "pickup_latitude",
						"type": "String"
					},
					{
						"name": "dropoff_longitude",
						"type": "String"
					},
					{
						"name": "dropoff_latitude",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "trip_data_1.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/taxi_trip_fare_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "medallion",
						"type": "String"
					},
					{
						"name": " hack_license",
						"type": "String"
					},
					{
						"name": " vendor_id",
						"type": "String"
					},
					{
						"name": " pickup_datetime",
						"type": "String"
					},
					{
						"name": " payment_type",
						"type": "String"
					},
					{
						"name": " fare_amount",
						"type": "String"
					},
					{
						"name": " surcharge",
						"type": "String"
					},
					{
						"name": " mta_tax",
						"type": "String"
					},
					{
						"name": " tip_amount",
						"type": "String"
					},
					{
						"name": " tolls_amount",
						"type": "String"
					},
					{
						"name": " total_amount",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "trip_fare_1.csv",
					"folderPath": "mycontainer/SampleData"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Baseball 1 Basic Stats')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Baseball"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "BaseballBatting",
							"type": "DatasetReference"
						},
						"name": "sourceBatting",
						"script": "source(output(\n\t\tplayerID as string,\n\t\tyearID as string,\n\t\tstint as string,\n\t\tteamID as string,\n\t\tlgID as string,\n\t\tG as integer,\n\t\tAB as integer,\n\t\tR as integer,\n\t\tH as integer,\n\t\tH2B as integer,\n\t\tH3B as integer,\n\t\tHR as integer,\n\t\tRBI as integer,\n\t\tSB as integer,\n\t\tCS as integer,\n\t\tBB as integer,\n\t\tSO as integer,\n\t\tIBB as integer,\n\t\tHBP as integer,\n\t\tSH as integer,\n\t\tSF as integer,\n\t\tGIDP as integer\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourceBatting"
					},
					{
						"dataset": {
							"referenceName": "PlayersBlob",
							"type": "DatasetReference"
						},
						"name": "sourcePlayer",
						"script": "source(output(\n\t\tplayerID as string,\n\t\tbirthYear as string,\n\t\tbirthMonth as string,\n\t\tbirthDay as string,\n\t\tbirthCountry as string,\n\t\tbirthState as string,\n\t\tbirthCity as string,\n\t\tdeathYear as string,\n\t\tdeathMonth as string,\n\t\tdeathDay as string,\n\t\tdeathCountry as string,\n\t\tdeathState as string,\n\t\tdeathCity as string,\n\t\tnameFirst as string,\n\t\tnameLast as string,\n\t\tnameGiven as string,\n\t\tweight as string,\n\t\theight as string,\n\t\tbats as string,\n\t\tthrows as string,\n\t\tdebut as string,\n\t\tfinalGame as string,\n\t\tretroID as string,\n\t\tbbrefID as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourcePlayer"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "newbattingtable",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "AddTimestamp sink(mapColumn(\n\t\tplayerID_yearID,\n\t\tBA,\n\t\tOBP,\n\t\tSLG,\n\t\tTB,\n\t\tbirthYear,\n\t\tbirthMonth,\n\t\tbirthDay,\n\t\tbirthCountry,\n\t\tbirthState,\n\t\tbirthCity,\n\t\tdeathYear,\n\t\tdeathMonth,\n\t\tdeathDay,\n\t\tdeathCountry,\n\t\tdeathState,\n\t\tdeathCity,\n\t\tnameFirst,\n\t\tnameLast,\n\t\tnameGiven,\n\t\tweight,\n\t\theight,\n\t\tbats,\n\t\tthrows,\n\t\tdebut,\n\t\tfinalGame,\n\t\tretroID,\n\t\tbbrefID,\n\t\tplayerID = OrigSourceBatting@playerID,\n\t\tyearID,\n\t\tstint,\n\t\tteamID,\n\t\tlgID,\n\t\tG,\n\t\tAB,\n\t\tR,\n\t\tH,\n\t\tH2B,\n\t\tH3B,\n\t\tHR,\n\t\tRBI,\n\t\tSB,\n\t\tCS,\n\t\tBB,\n\t\tSO,\n\t\tIBB,\n\t\tHBP,\n\t\tSH,\n\t\tSF,\n\t\tGIDP,\n\t\tcurrenttime\n\t),\n\tsaveMode:'overwrite') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "createAggs",
						"script": "sourceBatting aggregate(groupBy(playerID_yearID= playerID+'_'+yearID),\n\tBA = round(avg(H/AB),3),\n\t\tOBP = round(avg((H+BB+HBP)/(AB+BB+HBP+SF)),3),\n\t\tSLG = round(avg(((HR * 4) + (H3B * 3) + (H2B * 2) + (H-H2B-H3B-HR))/AB),3),\n\t\tTB = max((HR * 4) + (H3B * 3) + (H2B * 2) + (H-H2B-H3B-HR))) ~> createAggs"
					},
					{
						"name": "Join1",
						"script": "createAggs, PlayerInfoPlusOrigStats join(playerID_yearID == sourcePlayer@playerID + '_'+yearID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join1"
					},
					{
						"name": "PlayerInfoPlusOrigStats",
						"script": "sourcePlayer, OrigSourceBatting join(sourcePlayer@playerID == OrigSourceBatting@playerID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> PlayerInfoPlusOrigStats"
					},
					{
						"name": "OrigSourceBatting",
						"script": "sourceBatting select()~> OrigSourceBatting"
					},
					{
						"name": "AddTimestamp",
						"script": "Join1 derive(currenttime = currentTimestamp()) ~> AddTimestamp"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BaseballBatting')]",
				"[concat(variables('factoryId'), '/datasets/PlayersBlob')]",
				"[concat(variables('factoryId'), '/datasets/newbattingtable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Baseball 1 Norm Batting Stats')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Baseball"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "BaseballBatting",
							"type": "DatasetReference"
						},
						"name": "sourceBatting",
						"script": "source(output(\n\t\tplayerID as string,\n\t\tyearID as string,\n\t\tstint as string,\n\t\tteamID as string,\n\t\tlgID as string,\n\t\tG as integer,\n\t\tAB as integer,\n\t\tR as integer,\n\t\tH as integer,\n\t\tH2B as integer,\n\t\tH3B as integer,\n\t\tHR as integer,\n\t\tRBI as integer,\n\t\tSB as integer,\n\t\tCS as integer,\n\t\tBB as integer,\n\t\tSO as integer,\n\t\tIBB as integer,\n\t\tHBP as integer,\n\t\tSH as integer,\n\t\tSF as integer,\n\t\tGIDP as integer\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourceBatting"
					},
					{
						"dataset": {
							"referenceName": "PlayersBlob",
							"type": "DatasetReference"
						},
						"name": "sourcePlayer",
						"script": "source(output(\n\t\tplayerID as string,\n\t\tbirthYear as string,\n\t\tbirthMonth as string,\n\t\tbirthDay as string,\n\t\tbirthCountry as string,\n\t\tbirthState as string,\n\t\tbirthCity as string,\n\t\tdeathYear as string,\n\t\tdeathMonth as string,\n\t\tdeathDay as string,\n\t\tdeathCountry as string,\n\t\tdeathState as string,\n\t\tdeathCity as string,\n\t\tnameFirst as string,\n\t\tnameLast as string,\n\t\tnameGiven as string,\n\t\tweight as string,\n\t\theight as string,\n\t\tbats as string,\n\t\tthrows as string,\n\t\tdebut as string,\n\t\tfinalGame as string,\n\t\tretroID as string,\n\t\tbbrefID as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourcePlayer"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "AzureBlobBaseballOutput",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "Join1 sink(mapColumn(\n\t\tBA,\n\t\tOBP,\n\t\tSLG,\n\t\tbirthYear,\n\t\tbirthMonth,\n\t\tbirthDay,\n\t\tbirthCountry,\n\t\tbirthState,\n\t\tbirthCity,\n\t\tdeathYear,\n\t\tdeathMonth,\n\t\tdeathDay,\n\t\tdeathCountry,\n\t\tdeathState,\n\t\tdeathCity,\n\t\tnameFirst,\n\t\tnameLast,\n\t\tnameGiven,\n\t\tweight,\n\t\theight,\n\t\tbats,\n\t\tthrows,\n\t\tdebut,\n\t\tfinalGame,\n\t\tretroID,\n\t\tbbrefID,\n\t\tplayerID = OrigSourceBatting@playerID,\n\t\tyearID = OrigSourceBatting@yearID,\n\t\tstint,\n\t\tteamID,\n\t\tlgID,\n\t\tG,\n\t\tAB,\n\t\tR,\n\t\tH,\n\t\tH2B,\n\t\tH3B,\n\t\tHR,\n\t\tRBI,\n\t\tSB,\n\t\tCS,\n\t\tBB,\n\t\tSO,\n\t\tIBB,\n\t\tHBP,\n\t\tSH,\n\t\tSF,\n\t\tGIDP,\n\t\tTB\n\t),\n\tsaveMode:'overwrite') ~> sink1",
						"maxConcurrentConnections": 10
					}
				],
				"transformations": [
					{
						"name": "createAggs",
						"script": "CalcTotalBases aggregate(groupBy(playerID,\n\t\tyearID),\n\tBA = round(avg(H/AB),3),\n\t\tOBP = round(avg((H+BB+HBP)/(AB+BB+HBP+SF)),3),\n\t\tSLG = round(avg(TB/AB),3)) ~> createAggs"
					},
					{
						"name": "Join1",
						"script": "createAggs, PlayerInfoPlusOrigStats join(createAggs@playerID == sourcePlayer@playerID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join1"
					},
					{
						"name": "PlayerInfoPlusOrigStats",
						"script": "sourcePlayer, OrigSourceBatting join(sourcePlayer@playerID == OrigSourceBatting@playerID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> PlayerInfoPlusOrigStats"
					},
					{
						"name": "CalcTotalBases",
						"script": "sourceBatting derive(TB = (HR * 4) + (H3B * 3) + (H2B * 2) + (H-H2B-H3B-HR)) ~> CalcTotalBases"
					},
					{
						"name": "OrigSourceBatting",
						"script": "CalcTotalBases select()~> OrigSourceBatting"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BaseballBatting')]",
				"[concat(variables('factoryId'), '/datasets/PlayersBlob')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobBaseballOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Baseball 2 Adv Stats')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"description": "Let's now create the advanced Bill James Sabermetrics stats",
				"folder": {
					"name": "Baseball"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "SQLDBBaseball2",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tBA as double,\n\t\tOBP as double,\n\t\tSLG as double,\n\t\tTB as integer,\n\t\tbirthYear as string,\n\t\tbirthMonth as string,\n\t\tbirthDay as string,\n\t\tbirthCountry as string,\n\t\tbirthState as string,\n\t\tbirthCity as string,\n\t\tdeathYear as string,\n\t\tdeathMonth as string,\n\t\tdeathDay as string,\n\t\tdeathCountry as string,\n\t\tdeathState as string,\n\t\tdeathCity as string,\n\t\tnameFirst as string,\n\t\tnameLast as string,\n\t\tnameGiven as string,\n\t\tweight as string,\n\t\theight as string,\n\t\tbats as string,\n\t\tthrows as string,\n\t\tdebut as string,\n\t\tfinalGame as string,\n\t\tretroID as string,\n\t\tbbrefID as string,\n\t\tplayerID as string,\n\t\tyearID as string,\n\t\tstint as string,\n\t\tteamID as string,\n\t\tlgID as string,\n\t\tG as integer,\n\t\tAB as integer,\n\t\tR as integer,\n\t\tH as integer,\n\t\tH2B as integer,\n\t\tH3B as integer,\n\t\tHR as integer,\n\t\tRBI as integer,\n\t\tSB as integer,\n\t\tCS as integer,\n\t\tBB as integer,\n\t\tSO as integer,\n\t\tIBB as integer,\n\t\tHBP as integer,\n\t\tSH as integer,\n\t\tSF as integer,\n\t\tGIDP as integer\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "DWSabermetrics",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "RunsCreated sink(mapColumn(\n\t\tBA,\n\t\tOBP,\n\t\tSLG,\n\t\tTB,\n\t\tbirthYear,\n\t\tbirthMonth,\n\t\tbirthDay,\n\t\tbirthCountry,\n\t\tbirthState,\n\t\tbirthCity,\n\t\tdeathYear,\n\t\tdeathMonth,\n\t\tdeathDay,\n\t\tdeathCountry,\n\t\tdeathState,\n\t\tdeathCity,\n\t\tnameFirst,\n\t\tnameLast,\n\t\tnameGiven,\n\t\tweight,\n\t\theight,\n\t\tbats,\n\t\tthrows,\n\t\tdebut,\n\t\tfinalGame,\n\t\tretroID,\n\t\tbbrefID,\n\t\tplayerID,\n\t\tyearID,\n\t\tstint,\n\t\tteamID,\n\t\tlgID,\n\t\tG,\n\t\tAB,\n\t\tR,\n\t\tH,\n\t\tH2B,\n\t\tH3B,\n\t\tHR,\n\t\tRBI,\n\t\tSB,\n\t\tCS,\n\t\tBB,\n\t\tSO,\n\t\tIBB,\n\t\tHBP,\n\t\tSH,\n\t\tSF,\n\t\tGIDP,\n\t\tRunsCreated\n\t),\n\tsaveMode:'overwrite') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "RunsCreated",
						"script": "source1 derive(RunsCreated = round(  ((H + BB) * TB) / (AB + BB), 3)) ~> RunsCreated"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLDBBaseball2')]",
				"[concat(variables('factoryId'), '/datasets/DWSabermetrics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BugBash1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Bug Bashes"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "SQLDB_SalesHeader",
							"type": "DatasetReference"
						},
						"name": "SourceSalesHeader",
						"script": "source(output(\n\t\tSalesOrderID as integer,\n\t\tRevisionNumber as string,\n\t\tOrderDate as date,\n\t\tDueDate as date,\n\t\tShipDate as date,\n\t\tStatus as string,\n\t\tOnlineOrderFlag as boolean,\n\t\tSalesOrderNumber as string,\n\t\tPurchaseOrderNumber as string,\n\t\tAccountNumber as string,\n\t\tCustomerID as integer,\n\t\tShipToAddressID as integer,\n\t\tBillToAddressID as integer,\n\t\tShipMethod as string,\n\t\tCreditCardApprovalCode as string,\n\t\tSubTotal as decimal(10,0),\n\t\tTaxAmt as decimal(10,0),\n\t\tFreight as decimal(10,0),\n\t\tTotalDue as decimal(10,0),\n\t\tComment as string,\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SourceSalesHeader"
					},
					{
						"dataset": {
							"referenceName": "SQLDB_SalesDetail",
							"type": "DatasetReference"
						},
						"name": "SourceSalesDetail",
						"script": "source(output(\n\t\tSalesOrderID as integer,\n\t\tSalesOrderDetailID as integer,\n\t\tOrderQty as short,\n\t\tProductID as integer,\n\t\tUnitPrice as decimal(10,0),\n\t\tUnitPriceDiscount as decimal(10,0),\n\t\tLineTotal as decimal(10,0),\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SourceSalesDetail"
					},
					{
						"dataset": {
							"referenceName": "SQLDB_Products",
							"type": "DatasetReference"
						},
						"name": "SourceProduct",
						"script": "source(output(\n\t\tProductID as integer,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as decimal(10,0),\n\t\tSize as string,\n\t\tWeight as decimal(10,0),\n\t\tProductCategoryID as integer,\n\t\tProductModelID as integer,\n\t\tSellStartDate as date,\n\t\tSellEndDate as date,\n\t\tDiscontinuedDate as date,\n\t\tThumbNailPhoto as string,\n\t\tThumbnailPhotoFileName as string,\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SourceProduct"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "ADW_FactSales",
							"type": "DatasetReference"
						},
						"name": "SinkFactSales",
						"script": "Join1 sink(mapColumn(\n\t\tOrderTotal,\n\t\tRevisionNumber,\n\t\tOrderDate,\n\t\tDueDate,\n\t\tShipDate,\n\t\tStatus,\n\t\tOnlineOrderFlag,\n\t\tSalesOrderNumber,\n\t\tPurchaseOrderNumber,\n\t\tAccountNumber,\n\t\tCustomerID,\n\t\tShipToAddressID,\n\t\tBillToAddressID,\n\t\tShipMethod,\n\t\tCreditCardApprovalCode,\n\t\tSubTotal,\n\t\tTaxAmt,\n\t\tFreight,\n\t\tTotalDue,\n\t\tComment,\n\t\trowguid,\n\t\tModifiedDate\n\t),\n\tsaveMode:'overwrite') ~> SinkFactSales"
					},
					{
						"dataset": {
							"referenceName": "ADW_DimProduct",
							"type": "DatasetReference"
						},
						"name": "sinkDimProd",
						"script": "Aggregate2 sink(mapColumn(\n\t\tName,\n\t\tProdCount\n\t),\n\tsaveMode:'overwrite') ~> sinkDimProd"
					}
				],
				"transformations": [
					{
						"name": "Aggregate1",
						"script": "SourceSalesDetail aggregate(groupBy(SalesOrderID),\n\tOrderTotal = sum(LineTotal)) ~> Aggregate1"
					},
					{
						"name": "Join1",
						"script": "Aggregate1, SourceSalesHeader join(Aggregate1@SalesOrderID == SourceSalesHeader@SalesOrderID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join1"
					},
					{
						"name": "Join2",
						"script": "SourceSalesDetail, SourceProduct join(SourceSalesDetail@ProductID == SourceProduct@ProductID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join2"
					},
					{
						"name": "Aggregate2",
						"script": "Join2 aggregate(groupBy(Name),\n\tProdCount = sum(1)) ~> Aggregate2"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLDB_SalesHeader')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_SalesDetail')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_Products')]",
				"[concat(variables('factoryId'), '/datasets/ADW_FactSales')]",
				"[concat(variables('factoryId'), '/datasets/ADW_DimProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BugBash2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Bug Bashes"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "SQLDB_SalesHeader",
							"type": "DatasetReference"
						},
						"name": "SourceSalesHeader",
						"script": "source(output(\n\t\tSalesOrderID as integer,\n\t\tRevisionNumber as string,\n\t\tOrderDate as date,\n\t\tDueDate as date,\n\t\tShipDate as date,\n\t\tStatus as string,\n\t\tOnlineOrderFlag as boolean,\n\t\tSalesOrderNumber as string,\n\t\tPurchaseOrderNumber as string,\n\t\tAccountNumber as string,\n\t\tCustomerID as integer,\n\t\tShipToAddressID as integer,\n\t\tBillToAddressID as integer,\n\t\tShipMethod as string,\n\t\tCreditCardApprovalCode as string,\n\t\tSubTotal as decimal(10,0),\n\t\tTaxAmt as decimal(10,0),\n\t\tFreight as decimal(10,0),\n\t\tTotalDue as decimal(10,0),\n\t\tComment as string,\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SourceSalesHeader"
					},
					{
						"dataset": {
							"referenceName": "SQLDB_SalesDetail",
							"type": "DatasetReference"
						},
						"name": "SourceSalesDetail",
						"script": "source(output(\n\t\tSalesOrderID as integer,\n\t\tSalesOrderDetailID as integer,\n\t\tOrderQty as short,\n\t\tProductID as integer,\n\t\tUnitPrice as decimal(10,0),\n\t\tUnitPriceDiscount as decimal(10,0),\n\t\tLineTotal as decimal(10,0),\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SourceSalesDetail"
					},
					{
						"dataset": {
							"referenceName": "SQLDB_Products",
							"type": "DatasetReference"
						},
						"name": "SourceProduct",
						"script": "source(output(\n\t\tProductID as integer,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as decimal(10,0),\n\t\tSize as string,\n\t\tWeight as decimal(10,0),\n\t\tProductCategoryID as integer,\n\t\tProductModelID as integer,\n\t\tSellStartDate as date,\n\t\tSellEndDate as date,\n\t\tDiscontinuedDate as date,\n\t\tThumbNailPhoto as string,\n\t\tThumbnailPhotoFileName as string,\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SourceProduct"
					},
					{
						"dataset": {
							"referenceName": "SQLDB_ProdCat",
							"type": "DatasetReference"
						},
						"name": "ProdCategoryLookup",
						"script": "source(output(\n\t\tProductCategoryID as integer,\n\t\tParentProductCategoryID as integer,\n\t\tName as string,\n\t\trowguid as string,\n\t\tModifiedDate as date\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> ProdCategoryLookup"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "ADW_FactSales",
							"type": "DatasetReference"
						},
						"name": "SinkFactSales",
						"script": "Join1 sink(mapColumn(\n\t\tSalesOrderID = Aggregate1@SalesOrderID,\n\t\tOrderTotal,\n\t\tRevisionNumber,\n\t\tOrderDate,\n\t\tDueDate,\n\t\tShipDate,\n\t\tStatus,\n\t\tOnlineOrderFlag,\n\t\tSalesOrderNumber,\n\t\tPurchaseOrderNumber,\n\t\tAccountNumber,\n\t\tCustomerID,\n\t\tShipToAddressID,\n\t\tBillToAddressID,\n\t\tShipMethod,\n\t\tCreditCardApprovalCode,\n\t\tSubTotal,\n\t\tTaxAmt,\n\t\tFreight,\n\t\tTotalDue,\n\t\tComment,\n\t\trowguid,\n\t\tModifiedDate\n\t),\n\tsaveMode:'overwrite') ~> SinkFactSales"
					},
					{
						"dataset": {
							"referenceName": "ADW_DimProduct",
							"type": "DatasetReference"
						},
						"name": "sinkDimProd",
						"script": "Aggregate2 sink(mapColumn(\n\t\tProdName = Color,\n\t\tProdCount\n\t),\n\tsaveMode:'overwrite') ~> sinkDimProd"
					}
				],
				"transformations": [
					{
						"name": "Aggregate1",
						"script": "SourceSalesDetail aggregate(groupBy(SalesOrderID),\n\tOrderTotal = sum(LineTotal)) ~> Aggregate1"
					},
					{
						"name": "Join1",
						"script": "Aggregate1, SourceSalesHeader join(Aggregate1@SalesOrderID == SourceSalesHeader@SalesOrderID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join1"
					},
					{
						"name": "Join2",
						"script": "SourceSalesDetail, Select1 join(SourceSalesDetail@ProductID == Select1@ProductID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join2"
					},
					{
						"name": "Aggregate2",
						"script": "Join2 aggregate(groupBy(Color),\n\tProdCount = sum(1)) ~> Aggregate2"
					},
					{
						"name": "Lookup1",
						"script": "ProdCategoryLookup, SourceProduct lookup(ProdCategoryLookup@ProductCategoryID == SourceProduct@ProductCategoryID,\n\tbroadcast: 'none')~> Lookup1"
					},
					{
						"name": "Select1",
						"script": "Lookup1 select(mapColumn(\n\t\tProdCategoryLookup@ProductCategoryID,\n\t\tParentProductCategoryID,\n\t\tProdCategoryLookup@Name,\n\t\tProductID,\n\t\tSourceProduct@Name,\n\t\tProductNumber,\n\t\tColor,\n\t\tStandardCost,\n\t\tListPrice,\n\t\tSize,\n\t\tWeight,\n\t\tProductModelID,\n\t\tSellStartDate,\n\t\tSellEndDate,\n\t\tDiscontinuedDate\n\t))~> Select1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLDB_SalesHeader')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_SalesDetail')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_Products')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_ProdCat')]",
				"[concat(variables('factoryId'), '/datasets/ADW_FactSales')]",
				"[concat(variables('factoryId'), '/datasets/ADW_DimProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Currency Converter')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"description": "Sample demo data flow to convert currencies",
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "CurrencyDatasetUSD",
							"type": "DatasetReference"
						},
						"name": "USDCurrency",
						"script": "source(output(\n\t\tPreviousConversionRate as double,\n\t\tCountry as string,\n\t\tDateTime1 as string,\n\t\tCurrentConversionRate as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> USDCurrency"
					},
					{
						"dataset": {
							"referenceName": "CurrencyDatasetCAD",
							"type": "DatasetReference"
						},
						"name": "CADSource",
						"script": "source(output(\n\t\tPreviousConversionRate as double,\n\t\tCountry as string,\n\t\tDateTime1 as string,\n\t\tCurrentConversionRate as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CADSource"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "USDOutput",
							"type": "DatasetReference"
						},
						"name": "USDSink",
						"script": "ConditionalSplit1@USD sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> USDSink"
					},
					{
						"dataset": {
							"referenceName": "CADOutput",
							"type": "DatasetReference"
						},
						"name": "CADSink",
						"script": "ConditionalSplit1@CAD sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> CADSink"
					}
				],
				"transformations": [
					{
						"name": "Union",
						"description": "The Union combines 2 streams together",
						"script": "USDCurrency, CADSource union(byName: true)~> Union"
					},
					{
						"name": "NewCurrencyColumn",
						"description": "Create a new calculated column from currency rate",
						"script": "Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn"
					},
					{
						"name": "ConditionalSplit1",
						"description": "Split the data on state to create 2 streams",
						"script": "NewCurrencyColumn split(Country == 'USD',\n\tCountry == 'CAD',\n\tdisjoint: false) ~> ConditionalSplit1@(USD, CAD)"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CurrencyDatasetUSD')]",
				"[concat(variables('factoryId'), '/datasets/CurrencyDatasetCAD')]",
				"[concat(variables('factoryId'), '/datasets/USDOutput')]",
				"[concat(variables('factoryId'), '/datasets/CADOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB Test 2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Misc"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "AzureSqlDWTable3",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tName as string,\n\t\tProdCount as long\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "AzureSqlDWTable3",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "source1 sink(mapColumn(\n\t\tdigit = Name\n\t),\n\tsaveMode:'append') ~> sink1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlDWTable3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB Test')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Misc"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "ADW_DimProduct",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tProdName as string,\n\t\tProdCount as long\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "ADW_DimProduct",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "source1 sink(mapColumn(\n\t\tProdName,\n\t\tProdCount\n\t),\n\tsaveMode:'append') ~> sink1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADW_DimProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Drift2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "salesdrift",
							"type": "DatasetReference"
						},
						"name": "SalesSource1",
						"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> SalesSource1"
					}
				],
				"transformations": [
					{
						"name": "AddTax",
						"script": "SalesSource1 derive(each(match(name == 'COGS' || name == 'Cost'), $$+'_with_tax' = round(toDouble(trim($$,'$')) * 1.09,2))) ~> AddTax"
					},
					{
						"name": "CleanTotal",
						"script": "AddTax derive(each(match(locate('with_tax',name) > 0), $$ = left('$'+toString($$)+'00',locate('.', $$)+3))) ~> CleanTotal"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/salesdrift')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MovieDemo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "movie_dataflow_source",
							"type": "DatasetReference"
						},
						"name": "Movies",
						"script": "source(output(\n\t\tmovieId as string,\n\t\ttitle as string,\n\t\tgenres as string,\n\t\tdummy as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Movies"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "others",
							"type": "DatasetReference"
						},
						"name": "Output",
						"script": "MoviesAfter1980 sink(saveMode:'overwrite') ~> Output"
					}
				],
				"transformations": [
					{
						"name": "MoviesYear",
						"script": "SplitGenres derive(year = toInteger(trim(right(title, 6), '()')),\n\t\ttitle = toString(left(title, length(title)-6))) ~> MoviesYear"
					},
					{
						"name": "MoviesAfter1980",
						"script": "MoviesYear filter(year > 1980) ~> MoviesAfter1980"
					},
					{
						"name": "SplitGenres",
						"script": "Movies derive(splitgenres = toString(split(genres,'|'))) ~> SplitGenres"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/movie_dataflow_source')]",
				"[concat(variables('factoryId'), '/datasets/others')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyDemoDataFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "MoviesDBDataset",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tmovie as string,\n\t\ttitle as string,\n\t\tgenres as string,\n\t\tyear as integer,\n\t\tRating as integer,\n\t\t{Rotton Tomato} as integer\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "DemoSinkDataset",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "Aggregate1 sink(saveMode:'overwrite') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "MoviesBefore1990",
						"script": "source1 filter(year < 1990) ~> MoviesBefore1990"
					},
					{
						"name": "Aggregate1",
						"script": "MoviesBefore1990 aggregate(groupBy(genres),\n\tRating = avg(Rating)) ~> Aggregate1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MoviesDBDataset')]",
				"[concat(variables('factoryId'), '/datasets/DemoSinkDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RankDemo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "Product_Blob",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"transformations": [
					{
						"name": "SurrogateKey1",
						"script": "source1 keyGenerate(output(undefined as long),\n\tstartAt: 1L) ~> SurrogateKey1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCD Dataflow 2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "ADW_FactSales",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tOrderTotal as decimal(10,0),\n\t\tRevisionNumber as string,\n\t\tOrderDate as timestamp,\n\t\tDueDate as timestamp,\n\t\tShipDate as timestamp,\n\t\tStatus as string,\n\t\tOnlineOrderFlag as boolean,\n\t\tSalesOrderNumber as string,\n\t\tPurchaseOrderNumber as string,\n\t\tAccountNumber as string,\n\t\tCustomerID as integer,\n\t\tShipToAddressID as integer,\n\t\tBillToAddressID as integer,\n\t\tShipMethod as string,\n\t\tCreditCardApprovalCode as string,\n\t\tSubTotal as decimal(10,0),\n\t\tTaxAmt as decimal(10,0),\n\t\tFreight as decimal(10,0),\n\t\tTotalDue as decimal(10,0),\n\t\tComment as string,\n\t\trowguid as string,\n\t\tModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "ADW_FactSales",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "source1 sink(mapColumn(\n\t\tOrderTotal,\n\t\tRevisionNumber,\n\t\tOrderDate,\n\t\tDueDate,\n\t\tShipDate,\n\t\tStatus,\n\t\tOnlineOrderFlag,\n\t\tSalesOrderNumber,\n\t\tPurchaseOrderNumber,\n\t\tAccountNumber,\n\t\tCustomerID,\n\t\tShipToAddressID,\n\t\tBillToAddressID,\n\t\tShipMethod,\n\t\tCreditCardApprovalCode,\n\t\tSubTotal,\n\t\tTaxAmt,\n\t\tFreight,\n\t\tTotalDue,\n\t\tComment,\n\t\trowguid,\n\t\tModifiedDate\n\t),\n\tsaveMode:'append') ~> sink1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADW_FactSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCDType2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "SQLProducts",
							"type": "DatasetReference"
						},
						"name": "SQLProducts",
						"script": "source(output(\n\t\tProductID as integer,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as decimal(10,0),\n\t\tSize as string,\n\t\tWeight as decimal(10,0)\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SQLProducts"
					},
					{
						"dataset": {
							"referenceName": "DimProd",
							"type": "DatasetReference"
						},
						"name": "DimProd",
						"script": "source(output(\n\t\tProductKey as integer,\n\t\tProductAlternateKey as string,\n\t\tProductSubcategoryKey as integer,\n\t\tWeightUnitMeasureCode as string,\n\t\tSizeUnitMeasureCode as string,\n\t\tEnglishProductName as string,\n\t\tSpanishProductName as string,\n\t\tFrenchProductName as string,\n\t\tStandardCost as decimal(10,0),\n\t\tFinishedGoodsFlag as boolean,\n\t\tColor as string,\n\t\tSafetyStockLevel as short,\n\t\tReorderPoint as short,\n\t\tListPrice as decimal(10,0),\n\t\tSize as string,\n\t\tSizeRange as string,\n\t\tWeight as double,\n\t\tDaysToManufacture as integer,\n\t\tProductLine as string,\n\t\tDealerPrice as decimal(10,0),\n\t\tClass as string,\n\t\tStyle as string,\n\t\tModelName as string,\n\t\tEnglishDescription as string,\n\t\tFrenchDescription as string,\n\t\tChineseDescription as string,\n\t\tArabicDescription as string,\n\t\tHebrewDescription as string,\n\t\tThaiDescription as string,\n\t\tGermanDescription as string,\n\t\tJapaneseDescription as string,\n\t\tTurkishDescription as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp,\n\t\tStatus as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> DimProd"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "ADW_DimProduct",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "SetAttributes sink(mapColumn(\n\t\tProductKey = ProductID,\n\t\tProductAlternateKey = surrogatekey,\n\t\tProductSubcategoryKey,\n\t\tWeightUnitMeasureCode,\n\t\tSizeUnitMeasureCode,\n\t\tEnglishProductName = Name,\n\t\tSpanishProductName,\n\t\tFrenchProductName,\n\t\tStandardCost,\n\t\tFinishedGoodsFlag = mybit,\n\t\tColor,\n\t\tSafetyStockLevel,\n\t\tReorderPoint,\n\t\tListPrice,\n\t\tSize,\n\t\tSizeRange,\n\t\tWeight,\n\t\tDaysToManufacture,\n\t\tProductLine,\n\t\tDealerPrice,\n\t\tClass,\n\t\tStyle,\n\t\tModelName,\n\t\tEnglishDescription,\n\t\tFrenchDescription,\n\t\tChineseDescription,\n\t\tArabicDescription,\n\t\tHebrewDescription,\n\t\tThaiDescription,\n\t\tGermanDescription,\n\t\tJapaneseDescription,\n\t\tTurkishDescription,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus\n\t),\n\tsaveMode:'append') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "LookupKeys",
						"script": "SQLProducts, DimProd join(ProductID == ProductKey,\n\tjoinType:'left',\n\tbroadcast: 'none')~> LookupKeys"
					},
					{
						"name": "ConditionalSplit1",
						"script": "ColumnSelection split(isNull(ProductAlternateKey),\n\tdisjoint: false) ~> ConditionalSplit1@(NewRow, ExistingMember)"
					},
					{
						"name": "SurrogateKey1",
						"script": "ConditionalSplit1@NewRow keyGenerate(output(surrogatekey as long),\n\tstartAt: 1L) ~> SurrogateKey1"
					},
					{
						"name": "ColumnSelection",
						"script": "LookupKeys select(mapColumn(\n\t\tProductID,\n\t\tName,\n\t\tProductNumber,\n\t\tColor = SQLProducts@Color,\n\t\tStandardCost = SQLProducts@StandardCost,\n\t\tListPrice = SQLProducts@ListPrice,\n\t\tSize = SQLProducts@Size,\n\t\tWeight = SQLProducts@Weight,\n\t\tProductKey,\n\t\tProductAlternateKey,\n\t\tProductSubcategoryKey,\n\t\tWeightUnitMeasureCode,\n\t\tSizeUnitMeasureCode,\n\t\tEnglishProductName,\n\t\tSpanishProductName,\n\t\tFrenchProductName,\n\t\tFinishedGoodsFlag,\n\t\tSafetyStockLevel,\n\t\tReorderPoint,\n\t\tSizeRange,\n\t\tDaysToManufacture,\n\t\tProductLine,\n\t\tDealerPrice,\n\t\tClass,\n\t\tStyle,\n\t\tModelName,\n\t\tEnglishDescription,\n\t\tFrenchDescription,\n\t\tChineseDescription,\n\t\tArabicDescription,\n\t\tHebrewDescription,\n\t\tThaiDescription,\n\t\tGermanDescription,\n\t\tJapaneseDescription,\n\t\tTurkishDescription,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus\n\t))~> ColumnSelection"
					},
					{
						"name": "SetAttributes",
						"script": "SurrogateKey1 derive(surrogatekey = concat('abcd', toString(1)),\n\t\tStatus = 'Y',\n\t\tStartDate = currentDate(),\n\t\tEndDate = 1200,\n\t\tNullDesc = toString('  '),\n\t\tmybit = 0) ~> SetAttributes"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLProducts')]",
				"[concat(variables('factoryId'), '/datasets/DimProd')]",
				"[concat(variables('factoryId'), '/datasets/ADW_DimProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SchemaDrift')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "salesdrift",
							"type": "DatasetReference"
						},
						"name": "SalesSource1",
						"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> SalesSource1"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "driftout",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "CleanTotal sink(saveMode:'overwrite') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "AddTax",
						"script": "SalesSource1 derive(each(match(regexMatch(name, 'COGS')), $$+'_with_tax' = round(toDouble(trim($$,'$')) * 1.09,2))) ~> AddTax"
					},
					{
						"name": "CleanTotal",
						"script": "AddTax derive(each(match(locate('with_tax',name) > 0), $$ = left('$'+toString($$)+'00',locate('.', $$)+3))) ~> CleanTotal"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/salesdrift')]",
				"[concat(variables('factoryId'), '/datasets/driftout')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDemo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "taxi_trip_data_input",
							"type": "DatasetReference"
						},
						"name": "TripData",
						"script": "source(output(\n\t\tmedallion as string,\n\t\thack_license as string,\n\t\tvendor_id as string,\n\t\trate_code as string,\n\t\tstore_and_fwd_flag as string,\n\t\tpickup_datetime as string,\n\t\tdropoff_datetime as string,\n\t\tpassenger_count as short,\n\t\ttrip_time_in_secs as long,\n\t\ttrip_distance as double,\n\t\tpickup_longitude as double,\n\t\tpickup_latitude as double,\n\t\tdropoff_longitude as double,\n\t\tdropoff_latitude as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> TripData"
					},
					{
						"dataset": {
							"referenceName": "taxi_trip_fare_input",
							"type": "DatasetReference"
						},
						"name": "TripFare",
						"script": "source(output(\n\t\tmedallion as string,\n\t\t{ hack_license} as string,\n\t\t{ vendor_id} as string,\n\t\t{ pickup_datetime} as string,\n\t\t{ payment_type} as string,\n\t\t{ fare_amount} as double,\n\t\t{ surcharge} as double,\n\t\t{ mta_tax} as double,\n\t\t{ tip_amount} as double,\n\t\t{ tolls_amount} as double,\n\t\t{ total_amount} as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> TripFare"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "TaxiDemoVendorStatsSink",
							"type": "DatasetReference"
						},
						"name": "VendorStatsSink",
						"script": "AggregateVendorStats sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> VendorStatsSink"
					},
					{
						"dataset": {
							"referenceName": "TaxiDemoDayStatsSink",
							"type": "DatasetReference"
						},
						"name": "DayStatsSink",
						"script": "AggregateDayStats sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> DayStatsSink"
					},
					{
						"dataset": {
							"referenceName": "TaxiDemoTotalByPaymentType",
							"type": "DatasetReference"
						},
						"name": "TotalPaymentByPaymentType",
						"script": "AggregateByPaymentType sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> TotalPaymentByPaymentType"
					}
				],
				"transformations": [
					{
						"name": "JoinMatchedData",
						"script": "TripData, TripFare join(hack_license == { hack_license}\n\t&& TripData@medallion == TripFare@medallion\n\t&& vendor_id == { vendor_id}\n\t&& pickup_datetime == { pickup_datetime},\n\tjoinType:'inner',\n\tbroadcast: 'none')~> JoinMatchedData"
					},
					{
						"name": "AggregateVendorStats",
						"script": "JoinMatchedData aggregate(groupBy(vendor_id),\n\tpassenger_count = round(sum(passenger_count), 2),\n\t\ttrip_time_in_secs = round(sum(trip_time_in_secs)/60, 2),\n\t\ttrip_distance = round(sum(trip_distance), 2),\n\t\tTotalTripFare = round(sum({ total_amount}), 2)) ~> AggregateVendorStats"
					},
					{
						"name": "AggregateDayStats",
						"script": "JoinMatchedData aggregate(groupBy(DayOfTheWeek= dayOfWeek(toDate(pickup_datetime,'yyyy-mm-dd hh:mm:ss'))),\n\ttrip_distance = round(avg(trip_distance), 2),\n\t\tpassenger_count = round(avg(passenger_count), 2),\n\t\ttrip_time_in_secs = round(avg(trip_time_in_secs)/60, 2),\n\t\taverage_fare = round(avg({ total_amount}), 2)) ~> AggregateDayStats"
					},
					{
						"name": "AggregateByPaymentType",
						"script": "TripFare aggregate(groupBy({ payment_type}= { payment_type}),\n\teach(match(type=='double'), concat($$, '_total') = round(sum ($$)))) ~> AggregateByPaymentType"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/taxi_trip_data_input')]",
				"[concat(variables('factoryId'), '/datasets/taxi_trip_fare_input')]",
				"[concat(variables('factoryId'), '/datasets/TaxiDemoVendorStatsSink')]",
				"[concat(variables('factoryId'), '/datasets/TaxiDemoDayStatsSink')]",
				"[concat(variables('factoryId'), '/datasets/TaxiDemoTotalByPaymentType')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDemoLarge')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "TaxiDataSQLDB",
							"type": "DatasetReference"
						},
						"name": "TripData",
						"script": "source(output(\n\t\tmedallion as string,\n\t\thack_license as string,\n\t\tvendor_id as string,\n\t\trate_code as string,\n\t\tstore_and_fwd_flag as string,\n\t\tpickup_datetime as string,\n\t\tdropoff_datetime as string,\n\t\tpassenger_count as integer,\n\t\ttrip_time_in_secs as long,\n\t\ttrip_distance as double,\n\t\tpickup_longitude as double,\n\t\tpickup_latitude as double,\n\t\tdropoff_longitude as double,\n\t\tdropoff_latitude as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> TripData"
					},
					{
						"dataset": {
							"referenceName": "TripFareLarge",
							"type": "DatasetReference"
						},
						"name": "TripFare",
						"script": "source(output(\n\t\tmedallion as string,\n\t\thack_license as string,\n\t\tvendor_id as string,\n\t\tpickup_datetime as string,\n\t\tpayment_type as string,\n\t\tfare_amount as double,\n\t\tsurcharge as double,\n\t\tmta_tax as double,\n\t\ttip_amount as double,\n\t\ttolls_amount as double,\n\t\ttotal_amount as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> TripFare"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "TaxiDemoVendorStatsSink",
							"type": "DatasetReference"
						},
						"name": "VendorStatsSink",
						"script": "AggregateVendorStats sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> VendorStatsSink"
					},
					{
						"dataset": {
							"referenceName": "TaxiDemoDayStatsSink",
							"type": "DatasetReference"
						},
						"name": "DayStatsSink",
						"script": "AggregateDayStats sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> DayStatsSink"
					},
					{
						"dataset": {
							"referenceName": "TaxiDemoTotalByPaymentType",
							"type": "DatasetReference"
						},
						"name": "TotalPaymentByPaymentType",
						"script": "AggregateByPaymentType sink(partitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> TotalPaymentByPaymentType"
					}
				],
				"transformations": [
					{
						"name": "JoinMatchedData",
						"script": "TripData, TripFare join(TripData@hack_license == TripFare@hack_license\n\t&& TripData@medallion == TripFare@medallion\n\t&& TripData@vendor_id == TripFare@vendor_id\n\t&& TripData@pickup_datetime == TripFare@pickup_datetime,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> JoinMatchedData"
					},
					{
						"name": "AggregateVendorStats",
						"script": "JoinMatchedData aggregate(groupBy(vendor_id2= TripData@vendor_id),\n\tpassenger_count = round(sum(passenger_count), 2),\n\t\ttrip_time_in_secs = round(sum(trip_time_in_secs)/60, 2),\n\t\ttrip_distance = round(sum(trip_distance), 2),\n\t\tTotalTripFare = round(sum(total_amount), 2)) ~> AggregateVendorStats"
					},
					{
						"name": "AggregateDayStats",
						"script": "JoinMatchedData aggregate(groupBy(DayOfTheWeek= dayOfWeek(toDate(TripData@pickup_datetime,'yyyy-mm-dd hh:mm:ss'))),\n\ttrip_distance = round(avg(trip_distance), 2),\n\t\tpassenger_count = round(avg(passenger_count), 2),\n\t\ttrip_time_in_secs = round(avg(trip_time_in_secs)/60, 2),\n\t\taverage_fare = round(avg(total_amount), 2)) ~> AggregateDayStats"
					},
					{
						"name": "AggregateByPaymentType",
						"script": "TripFare aggregate(groupBy(payment_type),\n\teach(match(type=='double'), concat($$, '_total') = round(sum ($$)))) ~> AggregateByPaymentType"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TaxiDataSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/TripFareLarge')]",
				"[concat(variables('factoryId'), '/datasets/TaxiDemoVendorStatsSink')]",
				"[concat(variables('factoryId'), '/datasets/TaxiDemoDayStatsSink')]",
				"[concat(variables('factoryId'), '/datasets/TaxiDemoTotalByPaymentType')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Windows')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Demos"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "Product_Blob",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tProductID as string,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as decimal(10,0),\n\t\tSize as string,\n\t\tWeight as string,\n\t\tProductCategoryID as string,\n\t\tProductModelID as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"transformations": [
					{
						"name": "Window1",
						"script": "source1 window(over(Color),\n\tdesc(StandardCost, true),\n\trownum = rowNumber()) ~> Window1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanAddresses')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "Addresses_Blob",
							"type": "DatasetReference"
						},
						"name": "AddressSource",
						"script": "source(output(\n\t\tAddressID as string,\n\t\tAddress1 as string,\n\t\tAddress2 as string,\n\t\tCity as string,\n\t\tProp_4 as string,\n\t\tProp_5 as string,\n\t\tProp_6 as string,\n\t\tProp_7 as string,\n\t\tProp_8 as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> AddressSource"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "others",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "CleanAddress sink(saveMode:'overwrite') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "CleanAddress",
						"script": "AddressSource derive(each(match(type == 'string'), $$ + '_clean' = trim(trim($$, '.'), '  '))) ~> CleanAddress"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Addresses_Blob')]",
				"[concat(variables('factoryId'), '/datasets/others')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "jsonblob",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tid as string,\n\t\tcity as string,\n\t\tloc as string,\n\t\tpop as long,\n\t\tstate as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/jsonblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_params1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Params"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "Product_Blob",
							"type": "DatasetReference"
						},
						"name": "prodSource",
						"script": "source(output(\n\t\tProductID as string,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as string,\n\t\tSize as string,\n\t\tWeight as string,\n\t\tProductCategoryID as string,\n\t\tProductModelID as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> prodSource"
					},
					{
						"dataset": {
							"referenceName": "blob_params",
							"type": "DatasetReference"
						},
						"name": "paramsFile",
						"script": "source(output(\n\t\tParamColor as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> paramsFile"
					}
				],
				"transformations": [
					{
						"name": "getParams",
						"script": "prodSource, paramsFile lookup(Color == ParamColor,\n\tbroadcast: 'none')~> getParams"
					},
					{
						"name": "FilterRows",
						"script": "getParams filter(Color == ParamColor) ~> FilterRows"
					},
					{
						"name": "AggregateStandardCost",
						"script": "FilterRows aggregate(groupBy(Color),\n\tAverageStandardCostByColor = '$'+toString(round(avg(StandardCost),2))) ~> AggregateStandardCost"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_Blob')]",
				"[concat(variables('factoryId'), '/datasets/blob_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dedupe')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "BaseballBatting",
							"type": "DatasetReference"
						},
						"name": "source1",
						"script": "source(output(\n\t\tplayerID as string,\n\t\tyearID as string,\n\t\tstint as string,\n\t\tteamID as string,\n\t\tlgID as string,\n\t\tG as string,\n\t\tAB as string,\n\t\tR as string,\n\t\tH as string,\n\t\tH2B as string,\n\t\tH3B as string,\n\t\tHR as string,\n\t\tRBI as string,\n\t\tSB as string,\n\t\tCS as string,\n\t\tBB as string,\n\t\tSO as string,\n\t\tIBB as string,\n\t\tHBP as string,\n\t\tSH as string,\n\t\tSF as string,\n\t\tGIDP as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> source1"
					}
				],
				"transformations": [
					{
						"name": "Aggregate1",
						"script": "source1 aggregate(groupBy(playerID_year= playerID+yearID),\n\tdummy = sum(1)) ~> Aggregate1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BaseballBatting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightDF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "AzureSqlTable3",
							"type": "DatasetReference"
						},
						"name": "sourceFlights",
						"script": "source(output(\n\t\tYEAR as short,\n\t\tMONTH as short,\n\t\tFL_DATE as timestamp,\n\t\tUNIQUE_CARRIER as string,\n\t\tAIRLINE_ID as integer,\n\t\tCARRIER as string,\n\t\tTAIL_NUM as string,\n\t\tFL_NUM as integer,\n\t\tORIGIN_AIRPORT_ID as integer,\n\t\tORIGIN_AIRPORT_SEQ_ID as integer,\n\t\tORIGIN_CITY_MARKET_ID as integer,\n\t\tDEST_AIRPORT_ID as integer,\n\t\tDEST_AIRPORT_SEQ_ID as integer,\n\t\tDEST_CITY_MARKET_ID as integer,\n\t\tDEP_TIME as string,\n\t\tDEP_DELAY as double,\n\t\tDEP_DELAY_NEW as double,\n\t\tTAXI_OUT as double,\n\t\tWHEELS_OFF as string,\n\t\tWHEELS_ON as string,\n\t\tTAXI_IN as double,\n\t\tARR_TIME as string,\n\t\tARR_DELAY as double,\n\t\tARR_DELAY_NEW as double,\n\t\tCANCELLED as boolean,\n\t\tCANCELLATION_CODE as string,\n\t\tACTUAL_ELAPSED_TIME as double,\n\t\tAIR_TIME as double,\n\t\tFLIGHTS as integer,\n\t\tDISTANCE as integer,\n\t\tCARRIER_DELAY as double,\n\t\tWEATHER_DELAY as double,\n\t\tNAS_DELAY as double,\n\t\tSECURITY_DELAY as double,\n\t\tLATE_AIRCRAFT_DELAY as double,\n\t\tDEST_CODE as string,\n\t\tORIGIN_CODE as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourceFlights"
					},
					{
						"dataset": {
							"referenceName": "airlines",
							"type": "DatasetReference"
						},
						"name": "sourceAirlines",
						"script": "source(output(\n\t\tCode as integer,\n\t\tAirline_Code as integer\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourceAirlines"
					},
					{
						"dataset": {
							"referenceName": "airports",
							"type": "DatasetReference"
						},
						"name": "sourceAirports",
						"script": "source(output(\n\t\tCode as string,\n\t\tCity_Airport as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> sourceAirports"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "delays",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "Aggregate1 sink(mapColumn(\n\t\tcarrier = CARRIER,\n\t\tyear = YEAR,\n\t\tdelays = totalDelays\n\t),\n\tpartitionBy('hash', 1),\n\tsaveMode:'overwrite') ~> sink1"
					}
				],
				"transformations": [
					{
						"name": "Lookup1",
						"script": "sourceFlights, sourceAirlines lookup(AIRLINE_ID == toInteger(Code),\n\tbroadcast: 'none')~> Lookup1"
					},
					{
						"name": "Lookup2",
						"script": "Lookup1, sourceAirports lookup(ORIGIN_AIRPORT_ID == toInteger(sourceAirports@Code),\n\tbroadcast: 'none')~> Lookup2"
					},
					{
						"name": "Aggregate1",
						"script": "Lookup2 aggregate(groupBy(CARRIER,\n\t\tYEAR),\n\ttotalDelays = sum(CARRIER_DELAY),\n\tpartitionBy('hash', 1)) ~> Aggregate1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable3')]",
				"[concat(variables('factoryId'), '/datasets/airlines')]",
				"[concat(variables('factoryId'), '/datasets/airports')]",
				"[concat(variables('factoryId'), '/datasets/delays')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pivotflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "Product_Blob",
							"type": "DatasetReference"
						},
						"name": "ProductSource",
						"script": "source(output(\n\t\tProductID as string,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as string,\n\t\tSize as string,\n\t\tWeight as string,\n\t\tProductCategoryID as string,\n\t\tProductModelID as string,\n\t\tSellStartDate as string,\n\t\tSellEndDate as string,\n\t\tDiscontinuedDate as string,\n\t\tThumbNailPhoto as string,\n\t\tThumbnailPhotoFileName as string,\n\t\trowguid as string,\n\t\tModifiedDate as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> ProductSource"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pivotflow2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "Product_Blob",
							"type": "DatasetReference"
						},
						"name": "ProductSource",
						"script": "source(output(\n\t\tProductID as string,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(10,0),\n\t\tListPrice as string,\n\t\tSize as string,\n\t\tWeight as string,\n\t\tProductCategoryID as string,\n\t\tProductModelID as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> ProductSource"
					}
				],
				"transformations": [
					{
						"name": "PivotColorStandardCost",
						"script": "ProductSource pivot(groupBy(Name,\n\t\tProductID),\n\tpivotBy(Color),\n\tCostSum = sum(StandardCost),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> PivotColorStandardCost"
					},
					{
						"name": "ProductSourceBranch",
						"script": "ProductSource select(mapColumn(\n\t\tProductID2 = ProductID,\n\t\tName,\n\t\tProductNumber,\n\t\tColor,\n\t\tStandardCost,\n\t\tListPrice,\n\t\tSize,\n\t\tWeight,\n\t\tProductCategoryID,\n\t\tProductModelID\n\t))~> ProductSourceBranch"
					},
					{
						"name": "Join1",
						"script": "PivotColorStandardCost, ProductSourceBranch join(ProductID == ProductID2,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join1"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/regexflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"sources": [
					{
						"dataset": {
							"referenceName": "Addresses_Blob",
							"type": "DatasetReference"
						},
						"name": "IncomingAddresses",
						"script": "source(output(\n\t\tAddressID as string,\n\t\tAddress1 as string,\n\t\tAddress2 as string,\n\t\tCity as string,\n\t\tProp_4 as string,\n\t\tProp_5 as string,\n\t\tProp_6 as string,\n\t\tProp_7 as string,\n\t\tProp_8 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> IncomingAddresses"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "A_G",
							"type": "DatasetReference"
						},
						"name": "sink1",
						"script": "ConditionalSplit1@AThruG sink(saveMode:'overwrite') ~> sink1"
					},
					{
						"dataset": {
							"referenceName": "H_P",
							"type": "DatasetReference"
						},
						"name": "sink2",
						"script": "ConditionalSplit1@HThruP sink(saveMode:'overwrite') ~> sink2"
					},
					{
						"dataset": {
							"referenceName": "Q_Z",
							"type": "DatasetReference"
						},
						"name": "sink3",
						"script": "ConditionalSplit1@QThruZ sink(saveMode:'overwrite') ~> sink3"
					},
					{
						"dataset": {
							"referenceName": "others",
							"type": "DatasetReference"
						},
						"name": "sink4",
						"script": "ConditionalSplit1@other sink(saveMode:'overwrite') ~> sink4"
					}
				],
				"transformations": [
					{
						"name": "CleanAddress",
						"script": "IncomingAddresses derive(clean_address = regexReplace(Address1,`[ ]{2}|\\.`,' '),\n\t\thouse_num = regex_extract(Address1, `^(\\d+)`, 1)) ~> CleanAddress"
					},
					{
						"name": "ConditionalSplit1",
						"script": "CleanAddress split(rlike(City,'^[A-G]'),\n\trlike(City,'^[H-P]'),\n\trlike(City,'^[Q-Z]'),\n\tdisjoint: false) ~> ConditionalSplit1@(AThruG, HThruP, QThruZ, other)"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Addresses_Blob')]",
				"[concat(variables('factoryId'), '/datasets/A_G')]",
				"[concat(variables('factoryId'), '/datasets/H_P')]",
				"[concat(variables('factoryId'), '/datasets/Q_Z')]",
				"[concat(variables('factoryId'), '/datasets/others')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/soccerETL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"folder": {
					"name": "Soccer"
				},
				"sources": [
					{
						"dataset": {
							"referenceName": "soccer_events",
							"type": "DatasetReference"
						},
						"name": "SpecifySchemaExtract",
						"script": "source(output(\n\t\tid_odsp as string,\n\t\tid_event as string,\n\t\tsort_order as integer,\n\t\ttime as integer,\n\t\ttext as string,\n\t\tevent_type as string,\n\t\tevent_type2 as string,\n\t\tside as string,\n\t\tevent_team as string,\n\t\topponent as string,\n\t\tplayer as string,\n\t\tplayer2 as string,\n\t\tplayer_in as string,\n\t\tplayer_out as string,\n\t\tshot_place as string,\n\t\tshot_outcome as string,\n\t\tis_goal as string,\n\t\tlocation as string,\n\t\tbodypart as string,\n\t\tassist_method as string,\n\t\tsituation as string,\n\t\tfast_break as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> SpecifySchemaExtract"
					},
					{
						"dataset": {
							"referenceName": "locationMap",
							"type": "DatasetReference"
						},
						"name": "locationMap",
						"script": "source(output(\n\t\tType as string,\n\t\tName as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> locationMap"
					}
				],
				"sinks": [
					{
						"dataset": {
							"referenceName": "driftout",
							"type": "DatasetReference"
						},
						"name": "sinkToDW",
						"script": "TimeBins sink(saveMode:'overwrite') ~> sinkToDW"
					}
				],
				"transformations": [
					{
						"name": "DictionaryMapping1",
						"script": "SpecifySchemaExtract derive(eventTypeMap = case(\r\n    event_type == '0','Announcement',\r\n    event_type == '1','Attempt',\r\n    event_type == '2','Corner',\r\n    event_type == '3','Foul',\r\n    event_type == '4','Yellow Card',\r\n    event_type == '5','Second yellow card',\r\n    event_type == '6','Red card',\r\n    event_type == '7','Substitution',\r\n    event_type == '8','Free kick won',\r\n    event_type == '9','Offside',\r\n    event_type == '10','Hand ball',\r\n    event_type == '11','Penalty conceded',\r\n    event_type == '99', 'NA'\r\n),\n\t\ttime = toInteger(time)) ~> DictionaryMapping1"
					},
					{
						"name": "JoinStringDataViaLookup",
						"script": "DictionaryMapping1, locationMap lookup(location == Type,\n\tbroadcast: 'none')~> JoinStringDataViaLookup"
					},
					{
						"name": "TimeBins",
						"script": "ColumnSelectionNaming window(over(time),\n\tasc(event_type2, true),\n\tTimeBins = rowNumber()) ~> TimeBins"
					},
					{
						"name": "ColumnSelectionNaming",
						"script": "JoinStringDataViaLookup select(mapColumn(\n\t\tid_odsp,\n\t\tid_event,\n\t\tsort_order,\n\t\ttime,\n\t\ttext,\n\t\tevent_type2,\n\t\tside,\n\t\tevent_team,\n\t\topponent,\n\t\tplayer,\n\t\tplayer2,\n\t\tplayer_in,\n\t\tplayer_out,\n\t\tshot_place,\n\t\tshot_outcome,\n\t\tis_goal,\n\t\tlocation,\n\t\tbodypart,\n\t\tassist_method,\n\t\tsituation,\n\t\tfast_break,\n\t\teventTypeName = eventTypeMap,\n\t\tLocationName = Name\n\t))~> ColumnSelectionNaming"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/soccer_events')]",
				"[concat(variables('factoryId'), '/datasets/locationMap')]",
				"[concat(variables('factoryId'), '/datasets/driftout')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxiDataSQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TaxiDataSQLDB",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "medallion",
						"type": "String"
					},
					{
						"name": "hack_license",
						"type": "String"
					},
					{
						"name": "vendor_id",
						"type": "String"
					},
					{
						"name": "rate_code",
						"type": "String"
					},
					{
						"name": "store_and_fwd_flag",
						"type": "String"
					},
					{
						"name": "pickup_datetime",
						"type": "String"
					},
					{
						"name": "dropoff_datetime",
						"type": "String"
					},
					{
						"name": "passenger_count",
						"type": "Int32"
					},
					{
						"name": "trip_time_in_secs",
						"type": "Int64"
					},
					{
						"name": "trip_distance",
						"type": "Double"
					},
					{
						"name": "pickup_longitude",
						"type": "Double"
					},
					{
						"name": "pickup_latitude",
						"type": "Double"
					},
					{
						"name": "dropoff_longitude",
						"type": "Double"
					},
					{
						"name": "dropoff_latitude",
						"type": "Double"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[TripData]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/TripFareLarge')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-07-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TaxiDataSQLDB",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "medallion",
						"type": "String"
					},
					{
						"name": "hack_license",
						"type": "String"
					},
					{
						"name": "vendor_id",
						"type": "String"
					},
					{
						"name": "pickup_datetime",
						"type": "String"
					},
					{
						"name": "payment_type",
						"type": "String"
					},
					{
						"name": "fare_amount",
						"type": "Double"
					},
					{
						"name": "surcharge",
						"type": "Double"
					},
					{
						"name": "mta_tax",
						"type": "Double"
					},
					{
						"name": "tip_amount",
						"type": "Double"
					},
					{
						"name": "tolls_amount",
						"type": "Double"
					},
					{
						"name": "total_amount",
						"type": "Double"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[TripFare]')]"
				}
			}
		}
	]
}